  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
  </head>
  <body>
    {% include "components/navbar.html.jinja" %}
    
    <main class = "max-w-4xl mx-auto p-6 mb-5 bg-sky-500">
    <h1 class="text-3xl font-bold underline">Cart</h1>


    {%for x in cart%}
    <div class ="row-span-2 row-end-3">
    <img class="border" src="{{x['Image']}}">
    {{x['Name']}}
          <div>
           <form method="post" action="/cart/{{x['ProductID']}}/update_qty">
           <input class="w-full bg-gray-400" name="qty" type="number" value=" {{x['Quantity']}} ">
            <button type="submit">Update</button>
           </form>
          </div>
          <div>${{x['Price']}} </div>
          <div class="text-2xl font-bold">Total${{x['Price']* x['Quanity']}}</div>
           <a class="text-green-400 border-4 " href="{{url_for('checkout')}}">Checkout</a>
      </div>


    {%endfor%}
    </main>

</body>
</html>