<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
  </head>
<body>
   {%include "components/navbar.html.jinja"%}

  <main class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
  
    <div class="space-y-4">
  
      {%for item in order%}
<div class="bg-white shadow overflow-hidden sm:rounded-lg p-6"></div>
<div class="flex justify-between items-center">
      <p class="text-sm font-medium text-gray-500">Order #{{ item ['ID'] }}</p>
      <p class="mt-1 text-lg font-semibold text-gray-900"> Placed on {{item["Timestamp"].strftime("%b %d")}}</p>
     </div>
    
                            
   
    <div class="text-right">
      <p class="text-sm text-gray-500">Ordered:${{ item["Total"] }}</p>
      
      <p>items:{{item["Quanity"]}}</p>
                               
      {% endfor %}
  
  <p>NO Orders Yet</p>

  
  <a class="text-sky-400 font-bold text-2xl" href="/browse">Start Shopping</a>

  


  
  

</body>
</html>
