<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    
  </head>
  <body>
    {%include "components/navbar.html.jinja"%}
    
    

    <div class="grid grid-cols-2 gap-4 pt-50  font-serif border-5 border-sky-500">
     <img class="h-75 w- 75 mx-auto pt-6 pr-4" src="{{ product ['Image'] }}">
    

        
        {{product['Name']}}<br>
         ${{product['Price']}}<br>
         {{ product ['Description']}}<br>
    </div>
     
             
         
    <form method="post" action="/product/{{ product['ID'] }}/add_to_cart">
        <label>Qty:</label>
        <input type="number" name="gty" value="1" min="1" max="2">
         <button type="submit" class="bg-green-400">
         Add To Cart
         </button>
    </form>

  </body>
</html>