<nav class="bg-orange-400 p-2 flex items-alignright justify-between">
            <a href ="/">  </a>
            <li><a href="">My Account </a></li>
            
            <li><a href="">Login</a></li>
             <li><a href="">Cart </a></li>
</nav>

